<div>

    <!--Input field-->
    <div style="display: flex;">
        <label>Name:</label>
        <input type="text" [(ngModel)]="name" placeholder="Enter your name">
        <p>{{name}}</p>
    </div>

    <!--object loop-->
    <p *ngFor="let val of users| keyvalue">{{val.key}}:{{val.value}}</p>

    <!-- array ngFor -->
    <p *ngFor="let val of names;index as i">{{i+1}}:{{val}}</p>

    <!--ngSwitch-->
    <div [ngSwitch]="authLevel">
        <div *ngSwitchCase="'user'">Hi mawa</div>
        <div *ngSwitchDefault>Hi default</div>
    </div>
    <div [ngSwitch]="true">
        <div *ngSwitchCase="age>18">Major</div>
        <div *ngSwitchDefault>Hi major</div>
    </div>

    <!--ngContainer and template-->
    <ng-container *ngIf="isActive;else notActive">
        <p>He is Active</p>
    </ng-container>
    <ng-template #notActive>
        <p>He is not Active</p>
    </ng-template>
</div>